.blacklist-extension-button {
    margin-left: 5px;
    border: none;
    font-size: 12px;
    color: #444;
    padding: 0;
    background: none;
    cursor: pointer;
    font-weight: bold;
}

.blacklist-extension-notification {
    position: fixed;
    bottom: 20px;
    left: calc(50% - 150px);
    padding: 7px 20px;
    padding-right: 40px;
    text-align: center;
    min-width: 300px;
    background: #2c9c63e0;
    color: white;
    border-radius: 15px;
    box-sizing: border-box;
}

.blacklist-extension-notification-button {
    color: white;
    background: none;
    cursor: pointer;
    font-weight: bold;
    border: none;
    padding: 0;
    position: absolute;
    right: 15px;
    top: 7px;
}